body {
    background-color: #242424;
}
td, th {
    color: #CFCFCF;
    vertical-align: baseline;
}

tr:hover {
    color: #242424;
    background-color: #474747;
    -webkit-transition: background-color 1ms;
}

tr:hover th{
    background-color: #242424;
}

thead:hover tr {
    background-color: #242424;
}

tr:hover td {
    background-color: transparent;
}

.clickableTd {
    cursor: pointer;
}

span.glyphicon {
    font-size: 1.5em;
    padding: 0;
}

#outerContainer {
    padding: 0;
}

#audioControlsOuterDiv {
    z-index: 9998;
    height: 75px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #00b3ee;
}

#audioControlsInnerDiv {
    text-align: center;
}

.btn-transparent, .btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
}

#songInfoDisplay {
    margin-top: -10px;
    padding: 0;
    font-size: 1.5em;
    color: #ffffff;
}

.alert, .alert-info {
    margin-top: 25px;
    background-color: #00b3ee;
}

#songTable {
    background-color: #242424;
}

#popupModal {
    margin-top: 25%;
}

#displaySongs {
    width: 100%;
    text-align: center;
}

#addPlaylistPopup {
    margin-top: 15%;
}

#addPlaylistPopup .modal-content {
    border-radius: 0px;
}

#addPlaylistPopup .btn-default {
    background-color: white;
    color: #00b3ee;
    border: 1px solid #00b3ee;
}

#addPlaylistPopup .btn-default:hover {
    background-color: #e6e6e6;
    border-color: #00b3ee;
}

#addPlaylistPopup .btn-primary {
    background-color: #00b3ee;
    color: white;
}

#addPlaylistPopup .btn-primary:hover {
    background-color: #008dbb;
    color: white;
}

#newPlaylistHead {
    margin: -1px;
    text-align: center;
    padding: 10px;
    background-color: #00b3ee;
    color: white;
    font-size: 1.5em;
}

#selectPlaylistsDiv {
    bottom: 0px;
}

.playlistsDiv {
    display:inline-block;
    position: absolute;
}

.playlistsDiv a {
    display: none;
    color: white;
}

.playlistsDiv:hover a {
    display: block;
    color: #242424;
    padding: 10px;
    background-color: white;
    text-decoration: none;
}

.playlistsDiv a:hover {
    background-color: #00b3ee;
    color: white;
}

.playlistsButton {
    background-color: #00b3ee;
    width: 100px;
    border-radius: 0;
}

.playlistsUl {
    position: absolute;
    background-color: #242424;
    min-width: 300px;
}

#songMenu {
    min-width: 300px;
    max-width: 300px;
    overflow:hidden;
    text-overflow:ellipsis;
    overflow: visible;
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.songMenuOption {
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    color: white;
    background-color: #00b3ee;
    padding: 10px;
    text-align: center;
    width: 100%;
}

#addSongToPlaylist {
    width: 100%;
    text-align: center;
}

#addSongPlaylistsDiv:hover {
    color: white;
    background-color: #00b3ee;
}

#addSongPlaylistsDiv {
    color: #242424;
    /*top: auto;*/
    background-color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.wordsSpan {
    width: 100%;
    white-space:nowrap;
    cursor: default;
    overflow:hidden;
    text-overflow:ellipsis;
}

#stickyalias {
    display: none;
    height: 46px;
}

#jumpToSong {
    text-align: left;
}

#songSearchBar {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 25%;
    z-index: 9999;
    overflow: auto;
    height: 500px;
}

#searchResultsTable {
    display: none;
    position: relative;
    top: 0px;
    width: 100%;
    background-color: white;
    height: 500px;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#searchResultsTable td {
    color: #242424;
}

#searchResultsTable tr:hover td{
    color: white;
}