<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="./helpers/frontEnd.js"></script>
    <link rel="stylesheet" type="text/css" href="./helpers/frontEnd.css">
    <title>Thomas Music</title>
</head>
<body onload="callBackend()">

    <!--Contains everything-->
    <div id="outerContainer" class="container" ng-app="sortApp" ng-controller="mainController" style="width: 100%">
        <!--Contains the main toolbar-->
        <div id="audioControlsOuterDiv">
            <!--Pause, back, and forward buttons-->
            <div id="audioControlsInnerDiv">
                <button type="button" class="btn btn-primary btn-md btn-transparent" onclick="backOneSong()">
                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                </button>
                <button type="button" id="playpause" class="btn btn-primary btn-md btn-transparent" onclick="stopMusic()">
                    <span id="playpauseglyph" class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary btn-md btn-transparent" onclick="forwardOneSong()">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </button>
                <p id="songInfoDisplay"></p>
                <div id="timer_div"></div>
            </div>

            <!--Select Playlist button in bottom left part of toolbar-->
            <div id="selectPlaylistsDiv" class="playlistsDiv" onmouseover="$('#songMenu').fadeOut('fast');">
                <button class="playlistsButton btn btn-info btn-md">Playlists</button>
                <div id="selectPlaylistsUl" class="playlistsUl">
                </div>
            </div>

            <!--Seach bar on the right side-->
            <form>
                <div id="songSearchBar" class="form-group">
                    <input type="text" class="form-control" placeholder="Search da Fish" ng-model="searchFish" onfocus="displaySearchResultsTable()" onblur="hideSearchResultsTable">
                    <table ng-table="ngsongTable" id="searchResultsTable" class="table">
                        <tbody>
                        <tr ng-dblclick="doubleClickJumpToSong(roll); loadSoundSearchBar(roll)" ng-repeat="roll in sushiTotal | orderBy:sortType:sortReverse | filter:searchFish">
                            <td ng-click="loadSoundSearchBar(roll)"><span class="glyphicon glyphicon-play-circle clickableTd"></span></td>
                            <td>{{ roll.Title }}</td>
                            <td><span ng-click="setSearchFilter(roll.Artist)" style="cursor: pointer;">{{ roll.Artist }}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <!--Main toolbar has absolute position, so this acts as the space it should take up-->
        <div style="margin-top: 75px"></div>

        <!--HIDDEN unless opened. Popup modal that appears when creating a new playlist-->
        <div id="addPlaylistPopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div id="newPlaylistHead">New Playlist</div>
                    <form role="form" style="padding: 20px;">
                        <input type="text" id="playlistName" class="form-control" placeholder="Playlist Name">
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="addPlaylist" onclick="addPlaylist()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!--HIDDEN unless opened. Song options menu - opens when hovering over triple dots-->
        <div id="songMenu" tabindex="-1">
            <div class="songMenuOption" id="songMenuWords"><span class="wordsSpan">Song menu popup</span></div>
            <div id="addSongPlaylistsDiv" class="playlistsDiv" onmouseover="placePlaylists()">
                <span id="addSongToPlaylist">Add to Playlist...</span>
                <div id = "addSongPlaylistsUl" class="playlistsUl"></div>
            </div>
        </div>

        <!--Main table holding songs-->
        <table ng-table="ngsongTable" id="songTable" class="table">
            <thead>
                <tr>
                    <td id="playlistToAddTo"></td>
                    <td></td>
                    <td>
                        <a href="#" ng-click="sortType = 'Title'; sortReverse = !sortReverse">
                            Title
                            <span ng-show="sortType == 'Title' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Title' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'Artist'; sortReverse = !sortReverse">
                            Artist
                            <span ng-show="sortType == 'Artist' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Artist' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'Album'; sortReverse = !sortReverse">
                            Album
                            <span ng-show="sortType == 'Album' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Album' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'Track'; sortReverse = !sortReverse">
                            Track
                            <span ng-show="sortType == 'Track' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Track' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="sortType = 'Duration'; sortReverse = !sortReverse">
                            Duration
                            <span ng-show="sortType == 'Duration' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Duration' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-dblclick="loadSound(roll)" ng-repeat="roll in sushi | orderBy:sortType:sortReverse">
                    <td><span ng-mouseover="songOptions(roll, $event)" class="glyphicon glyphicon-option-horizontal clickableTd"></span></td>
                    <td ng-click="loadSound(roll)"><span class="glyphicon glyphicon-play-circle clickableTd"></span></td>
                    <td>{{ roll.Title }}</td>
                    <td><span ng-click="setSearchFilter(roll.Artist)" style="cursor: pointer;">{{ roll.Artist }}</span></td>
                    <td><span ng-click="setSearchFilter(roll.Album)" style="cursor: pointer;">{{ roll.Album }}</span></td>
                    <td>{{ roll.Track }}</td>
                    <td>{{ roll.Duration }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
